@charset 'UTF-8';

/* font-family: 'Lexend Deca', sans-serif; */
/* font-weight: 400; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); 

/* font-family: 'Inter', sans-serif; */
/* font-weights: 400 and 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    /* Primary colors */
    --veryDarkBlue: hsl(233, 47%, 7%); /* (main background) */
    --darkDesaturatedBlue: hsl(244, 38%, 16%); /* (card background) */
    --softViolet: hsl(277, 64%, 61%); /* (accent) */

    /* Neutral colors */
    --white: hsl(0, 0%, 100%); /* (main heading, stats) */
    --slightlyTransparentWhite1: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --slightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6); /* (stat headings) */

    /* Body Copy -> Font-size: 15px */
}

body{
    width: 1440px;
    height: 900px;
}

.main-container{
    width: 77%;
    margin: 0;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "column1 column2";
}

.img-container{
    grid-area: column2;
    width: 100%;
    height: 100%;
    background: var(--darkDesaturatedBlue) url('../images/image-header-desktop.jpg') center center/cover no-repeat;
}

.img-container::after{
    background-color: hsla(277, 71%, 29%, 0.65);
}

.txt-container{
    grid-area: column1;
    text-align: left;
    width: 75%;
     margin: 70px auto 65px; 
}

.txt-container h1{
    font-size: 34px;
    letter-spacing: 1px;
}

.txt-container > p{
    width: 100%;
    margin: 30px 0;
}

.benefits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align: left;
    width: 100%;
}

.box{
    margin: 0;
    margin-top: 50px;
}

.box h2{
    font-size: 25px;
}

.box p{
    font-size: 14px;
}