@charset 'UTF-8';

@font-face {
    font-family: SpaceGrotesk;
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpaceGrotesk;
    font-weight: 500;
}

html, body{
    height: 100vh;
}

body{
    width: 375px;
    background-color: hsl(0, 0%, 100%);
}

main{
    width: 100%;
    height: 111vh;
    margin-bottom: 20px;
}

main > section#img-top{
    background: transparent url('../images/bg-main-mobile.png') center center/cover no-repeat;
    height: 33%;
    padding: 0px 15px;
}

main > section#img-top > div#back-card{
    display: inline;
    position: relative;
    top: 20px;
    background: transparent url('../images/bg-card-back.png') center center/contain no-repeat;
    float: right;
    width: 85%;
    height: 69%;
}

main > section#img-top > div#back-card > span{
    position: absolute;
    top: 49%;
    left: 87%;
    font-size: 10px;
    color: hsl(270, 3%, 87%);
    transform: translate(-87%, -49%);
}

main > section#img-top > div#front-card{
    display: inline;
    position: relative;
    top: -53px;
    background: transparent url('../images/bg-card-front.png') center center/contain no-repeat;
    float: left;
    padding: 20px;
    width: 85%;
    height: 69%;
}

main > section#img-top > div#front-card > div#content-card{
    position: relative;
    width: 100%;
    height: 100%;
}

main > section#img-top > div#front-card > div#content-card > div#card-logo{
    background: transparent url('../images/card-logo.svg') center center/contain no-repeat;
    width: 21%;
    height: 25%;
}

main > section#img-top > div#front-card > div#content-card > p{
    font-size: 18px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 15px;
    color: hsl(0, 0%, 100%);
}

span.space{
    margin-right: 2px;
}

main > section#img-top > div#front-card > div#content-card > span#name-card{
    font-size: 10px;
    font-weight: 400;
    float: left;
    color: hsl(0, 0%, 100%);
}

main > section#img-top > div#front-card > div#content-card > span#date-exp{
    font-size: 10px;
    font-weight: 400;
    float: right;
    color: hsl(0, 0%, 100%);
}

main > section#form-main{
    position: relative;
    top: -20px;
    padding: 0 20px;
    margin-bottom: 30px;
}

main > section#form-main > form label{
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    color: hsl(278, 68%, 11%);
}

main > section#form-main > form input[type="text"]{
    display: block;
    font-size: 18px;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0 5px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

main > section#form-main > form input[type="text"]:focus{
    border: 1px solid transparent;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-radius: 8px;
    border-image-slice: 1;
}

main > section#form-main > form input[type="text"]::placeholder{
    color: hsl(279, 6%, 55%);
}

main > section#form-main > form > div#exp-month-year{
    display: inline-block;
    margin-right: 2px;
    width: 48%;
}

main > section#form-main > form > div#exp-month-year > input[type="text"]{
    display: inline-block;
    margin-right: 2px;
    width: 45%;
}

main > section#form-main > form > div#enter-cvc{
    display: inline-block;
    width: 50%;
}

main > section#form-main > form > div#span-error{
    width: 100%;
}

main > section#form-main > form > div#span-error > span#exp-error{
    width: 48%;
}

main > section#form-main > form > div#span-error > span#cvc-error{
    width: 50%;
}

main > section#form-main > form > input[type="submit"]{
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Error states */

span.input-error{
    display: none;
    font-size: 12px;
    width: 100%;
    color: hsl(0, 100%, 66%);
}

/****************/

footer{
    padding: 5px 0;
    background-color: hsl(278, 68%, 11%);
}

footer > div.attribution{
    font-size: 11px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
}

footer > div.attribution > a{
    color: hsl(228, 45%, 44%);
}