@charset 'UTF-8';

@font-face {
    font-family: Jakarta;
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

:root{
    /* Primary colors */
    --primary1: hsl(1, 90%, 64%);
    --primary2: hsl(219, 85%, 26%);
    /* Neutral colors */
    --neutral1: hsl(0, 0%, 100%);
    --neutral2: hsl(210, 60%, 98%);
    --neutral3: hsl(211, 68%, 94%);
    --neutral4: hsl(205, 33%, 90%);
    --neutral5: hsl(219, 14%, 63%);
    --neutral6: hsl(219, 12%, 42%);
    --neutral7: hsl(224, 21%, 14%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jakarta;
    font-weight: 500;
}

body{
    width: 375px;
    height: 667px;
    border: 1px solid blue;
}

main{
    width: 95%;
    margin: auto;
}

main > section#top-notification{
    margin: 20px 0;
}