@charset 'UTF-8';

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

:root{
    /* Font */
    /* weights: 300, 400, 600 */
    --josefinSans: 'Josefin Sans';

    /* Primary colors */
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);

    /* Neutral colors */
    --darkGrayishRed: hsl(0, 6%, 24%);

    /* Gradients */
    /*

    - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

    */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--josefinSans);
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.logo{
    padding: 35px;
}

.logo > img{
    width: 33%;
}

.img-woman{
    width: 100%;
}

.txt-form{
    margin: 70px auto;
    text-align: center;
    width: 85%;
}

.txt-form > h1{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 8px;
    color: var(--darkGrayishRed);
}

.txt-form > h1 > span{
    display: inline-block;
    width: 100%;
    font-weight: 300;
    color: var(--desaturatedRed);
}

.txt-form > p{
    font-size: 15px;
    margin: 25px 0;
    line-height: 22px;
    color: var(--desaturatedRed);
}

.email-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.email-container > input[type="email"]{
    flex: 1;
    font-weight: 600;
    width: 100%;
    padding: 17px 20px;
    border: 1px solid var(--desaturatedRed);
    border-radius: 40px;
}

.email-container > input[type="email"]::placeholder{
    font-size: 15px;
    color: var(--desaturatedRed);
}

input[type="email"].email-error{
    border: 2px solid var(--softRed);
}

#img-error{
    display: none;
    position: absolute;
    top: 13.5px;
    right: 80px;
    width: 24px;
    height: 24px;
}

.email-container > input[type="image"]{
    position: absolute;
    top: 0;
    right: -2px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 15px 27px;
    border-radius: 40px;
    box-shadow: 0px 18px 30px hsl(0, 36%, 70%, .5);
    transition: box-shadow .1s;
}

.email-container > input[type="image"]:hover{
    background: hsl(0, 80%, 86%);
    box-shadow: 0px 18px 30px hsl(0, 36%, 70%);
}

#msg-error{
    display: none;
    font-size: 12px;
    font-weight: 600;
    width: 65%;
    margin-top: 8px;
    color: var(--softRed);
}

footer{
    padding: 5px 0;
    background-color: hsl(0, 74%, 74%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: var(--darkGrayishRed);
}

.attribution{ 
    font-size: 12px; 
    text-align: center; 
}

.attribution a{ 
    color: hsl(0, 0%, 100%); 
}

.attribution a:hover{
    text-decoration: none;
}