@charset 'UTF-8';

@font-face {
    font-family: Roboto-Regular;
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
    color: hsl(234, 29%, 20%);
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    position: relative;
    background-color: hsl(235, 18%, 26%);
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 65vw;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

main > div#image{
    background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    width: 400px;
    height: 593px;
    float: right;
}

main > section#content-main{
    position: absolute;
    top: 50%;
    left: 7%;
    width: 41%;
    height: 500px;
    float: left;
    transform: translate(0, -50%);
}

main > section#content-main > h1{
    font-family: Roboto-Bold;
    font-size: 3.5em;
    margin-bottom: 25px;
}

main > section#content-main > p{
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 40px;
}

main > section#content-main > ul{
    position: relative;
    list-style-type: none;
}

svg.icon{
    margin-right: 15px;
}

main > section#content-main > ul > li{
    position: relative;
    margin-bottom: 10px;
}

main > section#content-main > ul > li:nth-last-child(1){
    margin-bottom: 40px;
}

main > section#content-main > ul > li > span.update{
    position: absolute;
    top: 0px;
}

form > label{
    float: left;
    font-family: Roboto-Bold;
    font-size: 11px;
    margin-bottom: 10px;
}

form > span#msg-error{
    color: hsl(4, 100%, 67%);
    float: right;
    font-family: Roboto-Bold;
    font-size: 11px;
    margin-bottom: 10px;
}

.email-error{
    border: 1px solid hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
    background-color: rgb(255, 225, 225);
}

form > input[type=email]{
    width: 100%;
    padding: 18px 20px;
    margin-bottom: 20px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]{
    font-family: Roboto-Bold;
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 18px 20px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-image: linear-gradient(to right, #FF3E83, #FF635B, #FE9045);
}

footer{
    display: none;
}